.header {

    &__rowTop {
        background: rgb(34,34,34);
        background: linear-gradient(135deg, rgba(34,34,34,1) 26%, rgba(34,34,34,1) 75%, rgba(235,168,0,1) 75%);
        padding: 10px 0;

        @include media-breakpoint-only(xs) {
            background: linear-gradient(135deg,#222 26%,#222 53%,#eba800 53%);
        }
        @include media-breakpoint-only(xl) {
            background: linear-gradient(135deg,#222 26%,#222 75%,#eba800 72%);
        }
        @media (min-width: 1441px) {
            background: linear-gradient(135deg,#222 26%,#222 69%,#eba800 66%);
        }

        &__columnLeft {
            // padding: 10px 0;

            ul {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;

                li {
                    display: flex;
                    a {
                        margin: 0 30px;
                        color: $gray-100;

                        @include media-breakpoint-only(xs) {
                            margin: 0 10px;
                        }

                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
        }

        &__columnRight {
            // padding: 10px 0 10px 50px;
            text-align: right;

            @include media-breakpoint-only(lg) {
                @include responsive-font-size(12px);
            }

            @include media-breakpoint-only(md) {
                @include responsive-font-size(12px);
            }

            a {
                color: $white;
                margin: 0;
                text-decoration: none;
                transition: all 0.7s;
                font-weight: $font-weight-bold;
                @include responsive-font-size(15px);

                &:hover {
                    color: $gray-300;
                    transition: all 0.7s;
                }

                @include media-breakpoint-only(xs) {
                    @include responsive-font-size(12px);
                }
    
            }
        }
    }

    &__rowCenter {
        background-color: $white;
        padding: 30px 0;

        .wrapper {
            margin: 0 auto;
        }

        &__logo {
            @include media-breakpoint-only(xs) {
                text-align: center;
                padding-bottom: 20px;
            }
        }

        &__office {
            @include media-breakpoint-only(xs) { 
                justify-content: flex-start !important;
            }

            ul {
                display: flex;
                align-items: center;
                margin: 0;

                li {
                    margin-right: 10px;
                    i {
                        color: $yellow;
                    }
                    p {
                        margin: 0;
                        line-height: 21px;
                        @include responsive-font-size(14px);

                        @include media-breakpoint-only(sm) { 
                            @include responsive-font-size(13px);
                        }

                        &:nth-child(2){
                            line-height: 14px;
                            font-weight: bold;
                            @include responsive-font-size(14px);

                            @include media-breakpoint-only(sm) { 
                                @include responsive-font-size(12px);
                            }
                        }
                    }
                    
                }
            }
        }

        &__contact {

            @include media-breakpoint-only(xs) { 
                justify-content: flex-start !important;
                margin: map-get($spacers, 3 ) 0 0;
                // margin: map-get($spacers, 3) 0 0 0  - map-get($spacers,5 );
            }

            ul {
                display: flex;
                align-items: center;
                margin: 0;

                li {
                    margin-right: 10px;

                    i {
                        color: $yellow;
                    }
                    
                    p {
                        margin: 0;
                        line-height: 21px;
                        @include responsive-font-size(14px);

                        &:nth-child(2){
                            line-height: 14px;
                            font-weight: bold;
                            @include responsive-font-size(14px);
                        }
                    }

                    .number {
                        margin: 0;
                        line-height: 21px;
                        font-weight: $font-weight-bold;
                        @include responsive-font-size(14px);
                    }

                }
            }
        }
    }

    &__rowBottom {
        background-color: $blue;
        padding: 15px 0;

        .navbar {
            // .navbar-nav {
                // .nav-item {
                //     a {
                //         color: $white;
                //         font-weight: $font-weight-bold;
                //         transition: $transition-base;
                //         font-size: $font-size-base;

                //         &:hover {
                //             transition: $transition-base;
                //             color: $gray-500;
                //         }
                //     }
                // }
            

                .navbar-nav {
                    @include media-breakpoint-only(xs) { 
                        padding: map-get($spacers, 1) 0;
                    }
                    
                    .menu-item {
                        a {
                            color: $white;
                            font-weight: $font-weight-bold;
                            text-transform: uppercase;
                            text-decoration: none;
                            transition: $transition-base;
                            display: inline-block;
                            font-family: 'Poppins', sans-serif;
                            @include responsive-font-size(16px);

                            @include media-breakpoint-only(xs) { 
                                padding: map-get($spacers, 1) 0;
                            }
        

                            &:nth-child(odd) {
                                margin: 0 map-get($spacers, 2);
                            }

                            &:hover {
                                transition: $transition-base;
                                color: $gray-300;
                            }
                        }
                    }
                }

                .wrapper {
                    margin-bottom: 0;
    
                    @include media-breakpoint-only(xs) { 
                        width: 77%;
                        list-style: none;
                        padding: 0 !important;
                        margin: 0 !important;
                    }

                    li {
                        @include list-unstyled();
        
                            .btn-group {
                                
                                .dropdown-toggle-split {
                                    padding-left: 0;
                                }

                                .lang {
                                    display: flex;
                                    align-items: center;
                                    @include responsive-font-size(14px);

                                    @include media-breakpoint-only(xs) {
                                        @include responsive-font-size(11px);
                                    }
        
                                    img {
                                        // margin-right: 10px;
                                        margin-right: map-get($spacers, 2);

                                        @include media-breakpoint-only(xs) {
                                            margin-right: 5px;
                                            
                                        }        
                                    }
                                }
                            }
                            a {
                                i {
                                    color: $yellow;
                                    transition: $transition-base;
        
                                    &:hover {
                                        transition: $transition-base;
                                        opacity: 0.5;
                                    }
                                }
                            }
                            button {
                                color: $white;
                            }
                        }
                }
            

                    // li {
                    //     @include list-unstyled();
    
                    //     .btn-group {
    
                    //         .lang {
                    //             display: flex;
                    //             align-items: center;
    
                    //             img {
                    //                 // margin-right: 10px;
                    //                 margin-right: map-get($spacers, 1);
    
                    //                 @include media-breakpoint-only(xs) {
                    //                     margin-right: 5px;
                    //                     }
    
                    //             }
                    //         }
                    //     }
                    //     a {
                    //         i {
                    //             color: $yellow;
                    //             transition: $transition-base;
    
                    //             &:hover {
                    //                 transition: $transition-base;
                    //                 opacity: 0.5;
                    //             }
                    //         }
                    //     }
                    //     button {
                    //         color: $white;
                    //     }
                    // }
                
            }

            // &__lang {
            //     .wrapper {
            //         margin-bottom: 0;
    
            //         @include media-breakpoint-only(xs) { 
            //             width: 77%;
            //             list-style: none;
            //             padding: 0 !important;
            //             margin: 0 !important;
            //         }
    
            //         li {
            //            @include list-unstyled();
    
            //             .btn-group {
    
            //                 .lang {
            //                     display: flex;
            //                     align-items: center;
    
            //                     img {
            //                         // margin-right: 10px;
            //                         margin-right: map-get($spacers, 1);
    
            //                         @include media-breakpoint-only(xs) {
            //                             margin-right: 5px;
            //                          }
    
            //                     }
            //                 }
            //             }
            //             a {
            //                 i {
            //                     color: $yellow;
            //                     transition: $transition-base;
    
            //                     &:hover {
            //                         transition: $transition-base;
            //                         opacity: 0.5;
            //                     }
            //                 }
            //             }
            //             button {
            //                 color: $white;
            //             }
            //         }
            //     }
            // }
        }

}